:root{
    --blui:#113f67;
    --red01:#df2a61;
    --red02:#e8630a;
    --red03:#c24d2c;
    --red04:#c51350;
    --red05:#d63447;
    --red06:#900048;
    --red07:#9f1e49;
    --red08:#b30753;
    --red09:#be3144;
    --red10:#cf4647;
    --blui01:#142d4c;
    --blui02:#005792;
    --blui03:#22559c;
    --blui04:#0c005a;
    --blui05:#38598b;
    --blui06:#24527a;
    --blui07:#7dace4;
    --blui08:#424874;
    --blui09:#005792;
    --blui10:#22267b;
    --blui11:#0c3c78;
    --blui12:#0c3c78;




}